{% extends 'base.html.twig' %}

{% block title %}Link Edit{% endblock %}

{% block body %}
<style>
    .example-wrapper { text-align: center; margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .form-control {
        display: flex;
        justify-content: center;
    }
</style>

{% include('default/navbar.html.twig') %}

<div class="example-wrapper">
    {{ form_start(form) }}
        <div class="form-control">
            <i class="fa fa-calendar"></i> 
            {{ form_label(form.url) }}
            {{ form_widget(form.url) }}

            <small>{{ form_help(form.url) }}</small>

            <div class="form-error">
                {{ form_errors(form.url) }}
            </div>
        </div>
        <div class="form-control">
            <i class="fa fa-time"></i> 
            {{ form_label(form.lifetime) }}
            {{ form_widget(form.lifetime) }}

            <small>{{ form_help(form.lifetime) }}</small>

            <div class="form-error">
                {{ form_errors(form.lifetime) }}
            </div>
        </div>
        <a href="{{ url('homepage') ~ 'link-delete/' ~ id }}">Delete</a>
    <button type="submit" class="btn btn-primary mt-4">Update Link</button>
    {{ form_end(form) }}
</div>
{% endblock %}
