{% extends 'base.html.twig' %}

{% block title %}URL Minimizer{% endblock %}

{% block body %}

{% include('default/navbar.html.twig') %}

<div class="example-wrapper">
    {{ form_start(form, {'attr': {'class': 'form-link'}}) }}
        <ul>
            <li>
                <div class="form-control">
                    {{ form_label(form.url) }}
                    {{ form_widget(form.url) }}
                    <small>{{ form_help(form.url) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.url) }}
                    </div>
                </div>
            </li>
            <li>
                <div class="form-control">
                    {{ form_label(form.lifetime) }}
                    {{ form_widget(form.lifetime) }}
                    <small>{{ form_help(form.lifetime) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.lifetime) }}
                    </div>
                </div>
            </li>
            <li>
                <button type="submit" class="btn-submit">Create Link</button>
            </li>
        </ul>
    {{ form_end(form) }}
</div>
{% endblock %}
